.admin-experience {
    width: 100%;
    margin: 25px 0;

    .experience-add {
        margin-top: 15px;

        .experience-form {
            // 

            .participateProjects-tags {
                padding: 0;
                list-style: none;

                li {
                    gap: 10px;
                    display: flex;
                    flex-direction: column;

                    &:not(:last-child) {
                        padding-bottom: 15px;
                    }
                }
            }
        }
    }

    .experience-table {
        margin-top: 15px;

        tbody tr td {
            text-align: center;
        }
        
        // Mobile
        @media (max-width: 768px) {
            tbody tr td {
                
                &:nth-child(1):before {
                    content: "Date";
                }
                
                &:nth-child(2):before {
                    content: "Type";
                }
                
                &:nth-child(3):before {
                    content: "Structure";
                }
                
                &:nth-child(4):before {
                    content: "Action";
                }
            }
        }
    }
}