/*------------------------------------------------------------------- 
    Portfolio
-------------------------------------------------------------------*/
.admin-portfolio {
    margin: 30px 0;
    position: relative;

    .portfolio-single {
        width: 100%;

        .introduction {
            display: flex;
            flex-direction: row;
            flex: 1;
            width: 100%;

            // Tablet
            @include tablet {
                flex-direction: column;
            }

            .hero {
                padding: 25px;
                margin-right: 25px;
                border-radius: 25px;
                width: calc((100% / 3) * 2);
                background-color: var(--c-white);
                border: 1px solid var(--c-lightGray);
                box-shadow: 3px 3px 4px var(--c-lightGray);

                // Tablet
                @include tablet {
                    padding: 0;
                    width: 100%;
                    margin: 0 0 15px 0;
                    text-align: center;
                }

                img {
                    width: 100%;

                    // Tablet
                    @include tablet {
                        width: 100%;
                        padding: 15px;
                        max-width: 550px;
                    }
                }
            }

            .banner {
                width: calc(100% / 3);

                // Tablet
                @include tablet {
                    width: 100%;
                }

                .project-infos {
                    height: auto;
                    padding: 25px;
                    border-radius: 25px;
                    background-color: var(--c-white);
                    border: 1px solid var(--c-lightGray);
                    box-shadow: 3px 3px 4px var(--c-lightGray);

                    .title {
                        margin: 0;
                        text-align: center;
                        padding-bottom: 25px;
                        border-bottom: 1px solid var(--c-lightGray);
                    }

                    .infos {
                        display: flex;
                        flex-direction: column;
                        flex: 1;

                        @include tablet {
                            padding-top: 15px;
                        }

                        ul {
                            margin: 0;
                            list-style: none;
                            padding: 15px 0 0 0;

                            li {
                                list-style: none;
                                padding-bottom: 10px;

                                span {
                                    font-weight: 600;
                                }
                            }
                        }
                    }

                    .actions {
                        display: flex;
                        flex-direction: row;

                        a {
                            &:not(:first-child) {
                                margin-left: 10px;
                            }

                            button {
                                width: 75px;

                                img {
                                    height: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .details {
            text-align: justify;
            font-size: 1.1rem;
        }
    }

    .portfolio-edit {
        padding: 25px 0 0 0;
    }
}