/*------------------------------------------------------------------- 
								Contact
-------------------------------------------------------------------*/
.contact {
    // 

    .contact-info {
        text-align: center;
        display: grid;
        grid-gap: 15px;
        grid-auto-rows: minmax(100px, auto);
        grid-template-columns: repeat(3, 1fr);

        // Mobile
        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
        }
    
        .contact-card {
            padding: 0;
            font-size: 0.85em;
            border-right: 2px solid rgba(0, 0, 0, 0.2);

            // Mobile
            @media screen and (max-width: 768px) {
                border: none;
            }
    
            &:last-child {
                border-right: none;
            }
    
            img {
                height: 40px;
            }
    
            .contact-info-phone {
                a {
                    color: var(--c-black) !important;
                }
            }
        }
    }

    /* Social Links */
    .contact-info-social-link {
        max-width: 400px;
        padding: 2% 0 2%;
        text-align: center;
        margin: auto;

        .social-link {
            text-align: center;
            display: grid;
            grid-auto-rows: minmax(100px, auto);
            grid-template-columns: repeat(5, 1fr);
        
            li {
                display: inline-block;
                text-decoration: none;
                margin: auto;
        
                a {
                    display: flex;
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    line-height: 50px;
                    font-size: 25px;
                    color: #fff;
                    background: #222222;
                    border-radius: 50%;
                    transition: all 0.3s ease-in-out;

                    img {
                        width: 30px;
                        height: 30px;
                        margin: auto;
                        display: block;
                    }
                }
            }
        }
    }

    .contact-form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px 20px;
        row-gap: 10px;
        column-gap: 20px;
        
        .form-text {
            margin: 0;

            input {
                height: 35px;
            }

            textarea, input {
                border: 1px solid var(--c-black);
                background-color: var(--c-lightWhite);
                color: var(--c-black);
                padding: 15px;
                border-radius: 15px;
                box-sizing: border-box;
                width: 100%;

                &::placeholder {
                    color: var(--c-black);
                }

                &:focus {
                    outline-style: none;
                    box-shadow: 1px 1px 5px #222222;
                }
            }
        }
    }
}