/*------------------------------------------------------------------- 
								Footer
-------------------------------------------------------------------*/

.footer {
    color: var(--c-white);

    .copyright {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 15px;
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    
        .bold-green {
            font-weight: bold;
            color: var(--c-green);
        }
    }
}