.experiences {
    width: 100%;
    border-left: 2px solid var(--c-black);

    .experience-card {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        &::before {
            top: 35px;
            left: 0px;
            width: 10px;
            content: "";
            height: 10px;
            position: absolute;
            border-radius: 50%;
            transform: translate(-60%, -30%);
            background-color: var(--c-black);
        }

        .card-body {
            padding: 25px;
            margin-left: 20px;
            border-radius: 10px;
            background-color: var(--c-white);
            box-shadow: 3px 3px 4px var(--c-lightGray);

            .icon::after {
                width: 0;
                height: 0;
                top: 30px;
                left: 20px;
                content: '';
                display: block;
                margin-left: -9px;
                position: absolute;
                border-style: solid;
                border-width: 9px 9px 9px 0;
                border-color: transparent var(--c-white) transparent transparent;
            }

            .job, 
            .degree {
                font-weight: 600;
                font-size: 1.1rem;
    
                .organisation, 
                .school {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: var(--c-black);
                }
            }
    
            .description {
                margin: 0;
                padding: 10px 0 0 0;
                
                p {
                    margin: 0;
                    padding: 0;
                }
            }
    
            .tools, .projects {
                margin: 0;
                padding: 10px 0 0 0;
    
                h3 {
                    margin: 0;
                    padding: 5px 0 0 0;
                    font-size: 1rem;
                }
    
                div {
                    overflow-wrap: break-word;
    
                    a {
                        text-decoration: none;
                        text-transform: none;
                        color: var(--c-black);
        
                        &:hover {
                            border-bottom: 1px solid var(--c-black);
                            transition: margin-left 0.3s;
                        }
                    }
                }
            }
        }
    }
}