/* ----------------------------------------------- *\
    Form
\* ----------------------------------------------- */
form {
    // 

    &.contact-form {
        width: 100%;
    
        .form-text {
            width: 100%;
    
            input, textarea {
                width: 100%;
            }
    
            input {
                height: 25px;
            }
        }
    
        .form-button {
            width: 100%;
        }
    }

    &.portfolio-form {
        padding: 25px;
        border-radius: 10px;
        background-color: var(--c-white);
        border: 1px solid var(--c-lightGray);
        box-shadow: 1px 1px 4px var(--c-lightGray);
    
        .form-field {
            display: block;
    
            &:not(:first-child) {
                padding-top: 15px;
            }
    
            label {
                font-weight: 700;
            }
    
            input, textarea, select {
                width: -webkit-fill-available;
                width: -moz-available;
                margin-top: 5px;
            }
    
            input:not([type="file"]), textarea, select {
                padding: 0 15px;
                border-radius: 25px;
                border: 1px solid var(--c-lightGray);
            }
    
            input {
                height: 25px;
            }
    
            textarea {
                height: 80px;
                padding: 15px;
            }
    
            select {
                height: 30px;
    
                &[multiple] {
                    height: 150px;
                    scrollbar-width: none;
    
                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
            }
        }
    
        .form-button {
            text-align: right;
            padding-top: 25px;
        }
    }

    &.update-password-form {
        padding: 10px 0;
        text-align: left;
        background-color: var(--c-white);
    
        .form-field {
            display: flex;
            flex-direction: column;
    
            &:not(:last-child) {
                margin-bottom: 10px;
            }
    
            label {
                font-weight: 600;
                padding-bottom: 5px;
            }
    
            input {
                height: 35px;
                padding: 0 20px;
                border-radius: 25px;
                border: 1px solid var(--c-silver);
            }
    
            textarea {
                height: 80px;
                padding: 20px;
                border-radius: 25px;
                border: 1px solid var(--c-silver);
            }
        }
    
        .form-button {
            margin: 20px 0;
            text-align: right;
        }
    }
    
    .form-field {
        flex: 1;
        display: flex;
        line-height: 30px;
        flex-direction: column;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        label {
            gap: 5px;
            display: flex;
            padding-bottom: 5px;

            &[for] {
                font-weight: 700;
            }

            span {
                margin: auto 0;
            }
        }

        input:not([type="file"]) {
            height: 35px;
            padding: 0 20px;
            border-radius: 25px;
            border: 1px solid var(--c-silver);
        }

        textarea {
            height: 80px;
            padding: 20px;
            border-radius: 25px;
            border: 1px solid var(--c-silver);
        }

        select {
            height: 35px;
            padding: 0 15px;
            border-radius: 25px;
            border: 1px solid var(--c-silver);

            &[multiple] {
                height: 150px;
                scrollbar-width: none;

                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }

    .form-field-inline {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        .field {
            flex: 1;
            border: 1px solid var(--c-silver);
            border-radius: 0% !important;
        }
    }

    .form-button {
        text-align: right;

        .btn:not(:first-child) {
            margin-left: 10px;
        }
    }
}